html{
    width: 100%;
    background-color: gray;
}

body{
    text-align: center;
    width: 80%;
    height: 100%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

p {
    font-size: x-large;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: 'Roboto', sans-serif;
    color: #212f3c;
}

.q1{
    font-size: x-large;
    font-family: cursive;
    color: green;
}

div{
    padding-left: 2%;
    text-align: left;
    margin: 1%;
    border-radius: 2px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}

submit{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    color: #212f3c;
    text-align: left;
    margin: 1%;
}
